---
title: Home
desc: Example home page. Links to ARKWEB documentation and examples of ARKWEB usage.
collect: posts
pagesize: 5
---

<p>
Welcome to your new ARKWEB site!
</p>

<p>
Site title: <%= @site.title %><br/>
Site desc.: <%= @site.desc %><br/>
Site author: <%= @site.conf(:author) %><br/>
</p>

<% @collection.paginate(@index).each do |page| %>
  <div class="page-card">
    <span class="card-title"><%= page.link_to %></span>
    <% if page.desc %>
      <p class="card-description"><%= page.desc %></p>
    <% end %>
  </div>
<% end %>

