---
collect: [/articles, /posts, /posts/scratch]
paginate: 4
---

<table class="table-half">
<caption>General</caption>

<tr>
	<th>Site title</th>
	<td><%= @site.conf(:title) %></tr>
</tr>

<tr>
	<th>Page count</th>
	<td class="code"><%= @site.pages.length %></td>
</tr>

<tr>
  <th>Sections</th>
	<td class="code"><%= @site.sections.length %></td>
</tr>

<tr>
  <th>Rendered at</th>
	<td class="code"><%= Time.now.strftime("%l:%M%P  %b. %-d, '%y") %></td>
</tr>

</table>

<table class="table-half">
  <caption>Sections</caption>

  <tbody>
  <% @site.sections.each do |sec| %>
    <tr>
      <th><%= sec.link_to %></th>
      <td class="code"><%= sec.members.length %> pages</td>
    </tr>
  <% end %>
  </tbody>
</table>

<table>

<caption>Page List</caption>

<% @site.pages.each do |page| %>
	<tr class="list">
		<td><%= page.link_to() %></td>
	</tr>
<% end %>

</table>

<table>

<caption>Configuration</caption>

<% @site.configs.each do |k,v| %>
	<% v = v.join(', ') if v.is_a?(Array) %>
	<tr>
		<th><%= k %></th>
		<td class="code"><%= v %></td>
	</tr>
<% end %>

</table>

<div class="pagination-example">
<h2>Pagination:</h2>

<% @collection.paginate(@index, sort: :date, ascending: false).each do |page| %>
  <span><%= page.link_to %></span>
<% end %>
<br/>
<span>Go to page: <%= @collection.links(@index) %></span>
</div>

