---
collect: [articles, posts, posts/scratch]
pagesize: 4
---

<table>

<tr>
	<td class="label">Site title:</td>
	<td><%= @site.conf(:title) %></tr>
</tr>

<tr>
	<td class="label">Page count:</td>
	<td><%= @site.pages.length %></td>
</tr>

<tr>
	<td class="label">Sections:</td>
	<td><%= @site.sections.length %></td>
</tr>

<tr>
	<td class="label" colspan="2">Sections list:</td>
</tr>

<% @site.sections.each do |sec| %>
	<tr class="list">
		<td colspan="2"><%= sec.conf(:title) %> | <%= sec.pages.length %> pages</td>
	</tr>
<% end %>

<tr>
<td class="label" colspan="2">Page list:</td>
</tr>

<% @site.pages.each do |page| %>
	<tr class="list">
		<td colspan="2"><%= page.link_to() %></td>
	</tr>
<% end %>

<tr>
<td class="label" colspan="2">Metadata:</td>
</tr>

<% @site.configs.each do |k,v| %>
	<% v = v.join(', ') if v.is_a?(Array) %>
	<tr>
		<td class="label"><%= k %></td>
		<td><%= v %></td>
	</tr>
<% end %>

<tr>
<td>An image:</td>
<td><%= @site.img("fleuron.png") %></td>
</tr>

</table>

<h1>Pagination:</h1>

<% @collection.paginate(@index).each do |page| %>
  <p><%= page.title %></p>
<% end %>

<%= @collection.links(@index) %>

