<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <% if @site.xuacompat %>
    	<meta content="<%= @site.xuacompat %>" http-equiv="X-UA-Compatible" />
    <% end %>

    <title><%= @site.title %></title>

    <meta name="description" content="<%= @site.desc %>" />
    <meta name="keywords" content="<%= @site.keywords %>" />
    <meta name="author" content="<%= @site.author %>" />
		<meta name="generator" content="<%= ARKWEB::Version %>" />

    <%= @site.link_styles %>
    <%= @site.link_webfonts %>
  </head>

  <body>
    <%= @body %>
  </body>

</html>

