<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <% if @site.info(:xuacompat) %>
      <meta content="<%= @site.info(:xuacompat) %>" http-equiv="X-UA-Compatible" />
    <% end %>

    <title><%= @site.info(:title) %></title>

    <%= @site.meta 'author',      @site.info(:author) %>
    <%= @site.meta 'description', @site.info(:desc) %>
    <%= @site.meta 'keywords',    @site.info(:keywords) %>
    <%= @site.meta 'generator',   @site.interface.identity %>

    <%= @site.link_favicons %>

    <%= @site.link_styles %>
    <%= @site.link_google_fonts %>

    <%= @site.insert_analytics %>
  </head>

  <body>
    <%= @body %>
  </body>

</html>

