<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <% if @site.conf.xuacompat %>
      <meta content="<%= @site.conf.xuacompat %>" http-equiv="X-UA-Compatible">
    <% end %>

    <title><%= @helper.full_title %></title>

    <%= @helper.meta 'author',      @site.conf.author %>
    <%= @helper.meta 'description', @helper.full_description %>
    <%= @helper.meta 'keywords',    @site.conf.keywords %>
    <%= @helper.meta 'generator',   @site.app.identity %>

    <%= @helper.link_favicons %>

    <%= @helper.link_styles %>
    <%= @helper.link_google_fonts %>

    <%= @helper.insert_analytics %>

    <%= @helper.link_scripts %>
  </head>

  <body>
    <%= @body %>
  </body>

</html>

