<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <% if @site.conf(:xuacompat) %>
      <meta content="<%= @site.conf(:xuacompat) %>" http-equiv="X-UA-Compatible" />
    <% end %>

    <title><%= @helper.full_title %></title>

    <%= @site.meta 'author',      @site.conf(:author) %>
    <%= @site.meta 'description', @helper.full_description %>
    <%= @site.meta 'keywords',    @site.conf(:keywords) %>
    <%= @site.meta 'generator',   @site.app.identity %>

    <%= @site.link_favicons %>

    <%= @site.link_styles %>
    <%= @site.link_google_fonts %>

    <%= @site.insert_analytics %>
  </head>

  <body>
    <%= @body %>
  </body>

</html>

